body {
    font-family: 'Indie Flower', cursive;
    color: rgb(255, 150, 152);
}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

.buttons {
    text-align: center;
}

button {
    font-family: 'Indie Flower', cursive;
    font-weight: 900;
    background-color: pink;
    border: none;
    border-radius: 12px;
    color: black;
    padding: 15px 32px;
    font-size: 20px;
}

button:hover {
    border: 3px solid #Ffc0cb;
    background-color: white;
}

.yes-btn{
    position: absolute;
    top: 36%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.no-btn{
    position: absolute;
    top: 36%;
    left: 55%;
    transform: translate(-50%, -50%);
}